<div id="projects" class="container">
  <h1>Projects</h1>
  <div class="projects">
    <div
      (click)="changeScrollY()"
      [routerLink]="['project', project.id]"
      *ngFor="let project of projects"
      class="project-item"
    >
      <div class="text-div">
        <h3>{{ project.name }}</h3>
        <p>
          {{ project.description }}
        </p>
      </div>
      <div class="image">
        <img class="image" src="{{ project.image }}" alt="{{ project.name }}" />
      </div>
    </div>
  </div>
</div>
