<div id="about" class="container">
  <h1 class="title">About</h1>
  <div class="content">
    <section>
      <h1>Dejan Vukoicic</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti animi
        sit natus cumque eveniet blanditiis doloremque illo cupiditate pariatur
        fugiat consectetur eius provident dignissimos amet modi, laborum enim ex
        aspernatur?
      </p>
    </section>

    <div class="skills">
      <h1 class="skillsTitle">Skills:</h1>
      <div class="images">
        <div class="image">
          <img src="../../../assets/images/angular.png" alt="angular" />
        </div>
        <div class="image">
          <img src="../../../assets/images/react.png" alt="react" />
        </div>
        <div class="image">
          <img src="../../../assets/images/js.png" alt="javaScript" />
        </div>
        <div class="image">
          <img src="../../../assets/images/css.png" alt="css" />
        </div>
        <div class="image">
          <img src="../../../assets/images/git.png" alt="git" />
        </div>
        <div class="image">
          <img src="../../../assets/images/html.png" alt="html" />
        </div>
        <div class="image">
          <img src="../../../assets/images/next.png" alt="next" />
        </div>
        <div class="image">
          <img src="../../../assets/images/sass.png" alt="sass" />
        </div>
      </div>
    </div>
  </div>
</div>
