<div id="contact" class="container">
  <h1>Contact Information</h1>
  <article>
    <div class="content">
      <p>
        Thank you for exploring my profile! Whether you have questions, project
        proposals, or simply want to connect, feel free to reach out. Check my
        social networks below – looking forward to hearing from you!
      </p>
      <div class="contacts">
        <div class="info">
          <fa-icon class="icon" [icon]="faEnvelope"></fa-icon>
          <a class="email" href="mailto:dejanvukoicic91@gmail.com"
            >dejanvukoicic91@gmail.com</a
          >
        </div>
        <div class="icons">
          <a href="mailto:dejanvukoicic91@gmail.com">
            <fa-icon class="icon-link view" [icon]="faEnvelope"></fa-icon
          ></a>
          <a href="https://twitter.com/DejanVukoicic" target="_blank">
            <fa-icon class="icon-link" [icon]="faXTwitter"></fa-icon
          ></a>
          <a href="https://github.com/dejanV91" target="_blank">
            <fa-icon class="icon-link" [icon]="faGithub"></fa-icon
          ></a>
          <a
            href="https://www.linkedin.com/in/dejan-vukoi%C4%8Di%C4%87-aa8282132/"
            target="_blank"
            ><fa-icon class="icon-link" [icon]="faLinkedin"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </article>
</div>
