<div id="contact" class="container">
  <h1>Contact Information</h1>
  <article>
    <div class="content">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde fuga
        voluptates quibusdam vero exercitationem odio mollitia labore itaque
        excepturi totam modi velit, ducimus libero dignissimos asperiores
        eveniet est sed ullam!
      </p>
      <div class="contacts">
        <div class="info">
          <fa-icon class="icon" [icon]="faEnvelope"></fa-icon>
          <a class="email" href="mailto:dejanvukoicic91@gmail.com"
            >dejanvukoicic91@gmail.com</a
          >
        </div>
        <div class="icons">
          <fa-icon class="icon-link" [icon]="faXTwitter"></fa-icon>
          <fa-icon class="icon-link" [icon]="faGithub"></fa-icon>
          <fa-icon class="icon-link" [icon]="faLinkedin"></fa-icon>
        </div>
      </div>
    </div>
  </article>
</div>
