.container {
  width: 100%;
  background-color: var(--mainColor);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: var(--font);
  font-size: 3rem;
  padding-bottom: 30px;
  width: 40%;
  text-align: center;
  border-bottom: 5px solid var(--font);
}
