.container {
  width: 100%;
  background-color: var(--mainColor);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}

article {
  width: 60%;
  max-width: 1500px;
}

h1 {
  color: var(--font);
  font-size: 3rem;
  padding-bottom: 30px;
  width: 40%;
  text-align: center;
  border-bottom: 5px solid var(--font);
  margin-bottom: 100px;
}

p {
  margin-top: 30px;
  font-size: 2rem;
  color: var(--font);
}

.info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin-top: 40px;
}

.icon {
  font-size: 2rem;
  color: var(--font);
}

.email {
  font-size: 2rem;
  color: var(--font);
  text-decoration: none;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 40px;
}

.icon-link {
  font-size: 2.5rem;
  color: var(--font);
  cursor: pointer;
  transition: 0.3s ease scale;
}

.icon-link:hover {
  scale: 1.2;
  color: white;
}
