<div class="container">
  <div class="projects">
    <div class="project-item">
      <div class="text-div">
        <h3>Naslov</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet qui
          autem provident ratione in assumenda rem voluptates? Ea, nesciunt
          ipsa!
        </p>
      </div>
      <img
        class="image"
        src="../../../assets/images/busplus2.jpg"
        alt="busplus"
      />
    </div>
    <div class="project-item">
      <div class="text-div">
        <h3>Naslov</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet qui
          autem provident ratione in assumenda rem voluptates? Ea, nesciunt
          ipsa!
        </p>
      </div>
      <img
        class="image"
        src="../../../assets/images/busplus2.jpg"
        alt="busplus"
      />
    </div>
    <div class="project-item">
      <div class="text-div">
        <h3>Naslov</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet qui
          autem provident ratione in assumenda rem voluptates? Ea, nesciunt
          ipsa!
        </p>
      </div>
      <img
        class="image"
        src="../../../assets/images/busplus2.jpg"
        alt="busplus"
      />
    </div>
  </div>
</div>
