header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

nav {
  position: relative;
  white-space: nowrap;
}

nav.full {
  font-weight: bold;
  background: var(--colorBlack2);
  color: var(--font);
  font-size: 1.3em;
}
.active {
  background: var(--colorBlack1);
  color: var(--color4);
}

a {
  display: inline-block;
  z-index: 10;
  width: 25%;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
  color: var(--font);
  text-decoration: none;
}
